body {
    color: #f8f8f8;
    background-color: #000;
}

a {
    color: aqua;
}

.minusSign {
    color: white;
}

.minusSign:hover {
    color: navy;
    background-color: yellow;
}

.list {
    padding: 1.5px;
    margin-left: 1%;
}

.delete {
    padding: 1%;
    padding-left: 3%;
}

.delete button {
    margin-right: .5%; /* Adjust the spacing between the buttons */
}

.delete button:first-child {
    margin-left: 1%; /* Add more spacing before the first button */
}


.warning {
    color: #ff0008;
}